@import url("https://fonts.googleapis.com/css?family=DM+Sans:300,300i,400,400i,700,700i&display=swap"); @import url("https://fonts.googleapis.com/css?family=Elsie:400,900&display=swap"); /* <inline asset> */

.o_we_shape {
    --ShapeConnections--size-regular: 4rem;
}
:root {
    --font-sans-serif: "DM Sans", "Unicode Support Noto", serif;
    --body-font-family: var(--font-sans-serif);
    --body-font-size: 1rem;
    --body-font-weight: 400;
    --body-line-height: 1.5;
    --body-color: #212529;
    --body-bg: #FFFFFF;
    --emphasis-color-rgb: 0, 0, 0;
    --secondary-color: rgba(33, 37, 41, 0.75);
    --heading-color: inherit;
    --link-color: #FFFFFF;
    --link-color-rgb: 255, 255, 255;
    --link-hover-color: #999999;
    --link-hover-color-rgb: 153, 153, 153;
    --border-width: 1px;
    --border-style: solid;
    --border-color: var(--o-border-color);
    --border-color-translucent: rgba(0, 0, 0, 0.175);
    --border-radius: 0.4rem;
    --border-radius-pill: 50rem;
    --box-shadow-sm: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--body-font-family);
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    line-height: var(--body-line-height);
    color: var(--body-color);
    text-align: var(--body-text-align);
    background-color: var(--body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

 h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Elsie", "Unicode Support Noto", serif;
    font-weight: 500;
    line-height: 1.2;
    color: var(--heading-color);
}

h1, .h1 {
    font-size: calc(1.425rem + 2.1vw);
}

@media (min-width: 1200px) {
    h1, .h1 {
        font-size: 3rem;
    }
}

h2, .h2 {
    font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
    h2, .h2 {
        font-size: 2.5rem;
    }
}

h3, .h3 {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    h3, .h3 {
        font-size: 2rem;
    }
}

h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    h4, .h4 {
        font-size: 1.5rem;
    }
}

p {
    margin-top: 0;
    margin-bottom: 16px;
}

 ul {
    padding-left: 2rem;
}

 ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

 ul ul {
    margin-bottom: 0;
}

 strong {
    font-weight: bolder;
}

a {
    color: rgba(var(--link-color-rgb), var(--link-opacity, 1));
    text-decoration: none;
}

.a_underline {
    color: rgba(var(--link-color-rgb), var(--link-opacity, 1));
    text-decoration: none;
}

.a_underline::before {
    content: "";
    display: inline-block;
    width: 18px; /* Taille du SVG */
    height: 18px;
    background-image: url('image/fx/link.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 4px;
}

a:hover {
    --link-color-rgb: var(--link-hover-color-rgb);
    text-decoration: underline;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
}

img, svg {
    vertical-align: middle;
}

 tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

button {
    border-radius: 0;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

 button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    text-transform: none;
}

[role="button"] {
    cursor: pointer;
}

button, [type="button"] {
    -webkit--webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

button:not(:disabled):not(.o_wysiwyg_loader), [type="button"]:not(:disabled):not(.o_wysiwyg_loader) {
    cursor: pointer;
}

::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

::-webkit-datetime-edit-fields-wrapper, ::-webkit-datetime-edit-text, ::-webkit-datetime-edit-minute, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-year-field {
    padding: 0;
}

::-webkit-inner-spin-button {
    height: auto;
}

::-webkit-search-decoration {
    -webkit--webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

::-webkit-color-swatch-wrapper {
    padding: 0;
}

::file-selector-button {
    font: inherit;
    -webkit--webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

.lead {
    font-size: 1.125rem;
    font-weight: 300;
}

.display-1 {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px) {
    .display-1 {
        font-size: 5rem;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.container, .container-fluid {
    --gutter-x: 30px;
    --gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
     .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
     .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
     .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
     .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
     .container {
        max-width: 1320px;
    }
}

:root {
}

.row {
    --gutter-x: 30px;
    --gutter-y: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-right: calc(-.5 * var(--gutter-x));
    margin-left: calc(-.5 * var(--gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * .5);
    padding-left: calc(var(--gutter-x) * .5);
    margin-top: var(--gutter-y);
}

.col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 50%;
}

.g-0 {
    --gutter-x: 0;
}

.g-0 {
    --gutter-y: 0;
}

@media (min-width: 576px) {
    .col-sm {
        flex: 1 0 0%;
    }
}

@media (min-width: 992px) {

    .col-lg-3 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 25%;
    }

    .col-lg-9 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 75%;
    }

    .col-lg-12 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 auto;
        flex: 0 0 auto;
        width: 100%;
    }
}

.btn {
    --btn-padding-x: 0.75rem;
    --btn-padding-y: 0.375rem;
    --btn-font-family: ;
    --btn-font-size: 1rem;
    --btn-font-weight: 400;
    --btn-line-height: 1.5;
    --btn-color: var(--body-color);
    --btn-bg: transparent;
    --btn-border-width: var(--border-width);
    --btn-border-color: transparent;
    --btn-border-radius: var(--border-radius);
    --btn-hover-border-color: transparent;
    --btn-disabled-opacity: 0.65;
    --btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--btn-padding-y) var(--btn-padding-x);
    font-family: var(--btn-font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--btn-font-weight);
    line-height: var(--btn-line-height);
    color: var(--btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    background-color: var(--btn-bg);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: var(--btn-hover-color);
    text-decoration: none;
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
}

.btn:focus-visible {
    color: var(--btn-hover-color);
    background-color: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    outline: 0;
    box-shadow: var(--btn-focus-box-shadow);
}

 :not(.btn-check) + .btn:active, .btn:first-child:active, .btn.active {
    color: var(--btn-active-color);
    background-color: var(--btn-active-bg);
    border-color: var(--btn-active-border-color);
}

 :not(.btn-check) + .btn:active:focus-visible, .btn:first-child:active:focus-visible, .btn.active:focus-visible {
    box-shadow: var(--btn-focus-box-shadow);
}

.btn:disabled {
    color: var(--btn-disabled-color);
    pointer-events: none;
    background-color: var(--btn-disabled-bg);
    border-color: var(--btn-disabled-border-color);
    opacity: var(--btn-disabled-opacity);
}

.nav {
    --nav-link-padding-x: 1rem;
    --nav-link-padding-y: 0.5rem;
    --nav-link-font-weight: ;
    --nav-link-color: var(--link-color);
    --nav-link-hover-color: var(--link-hover-color);
    --nav-link-disabled-color: var(--secondary-color);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    gap: 1rem;
}

.nav-link {
    display: block;
    padding: var(--nav-link-padding-y) var(--nav-link-padding-x);
    font-size: var(--nav-link-font-size);
    font-weight: var(--nav-link-font-weight);
    color: var(--nav-link-color);
    background: none;
    border: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
  
.nav-link.active {
    background-color: #f0f0f0;
    transform: scale(1.05);
    color: black !important;
    border-radius: 25px;
  }
  
.nav-link:hover, .nav-link:focus {
    color: var(--nav-link-hover-color);
    text-decoration: none;
}

.nav-link:focus-visible {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

 .nav-link:disabled {
    color: var(--nav-link-disabled-color);
    pointer-events: none;
    cursor: default;
}

.navbar {
    --navbar-padding-x: 0;
    --navbar-padding-y: 0.625rem;
    --navbar-color: rgba(var(--emphasis-color-rgb), 0.65);
    --navbar-hover-color: rgba(var(--emphasis-color-rgb), 0.8);
    --navbar-disabled-color: rgba(var(--emphasis-color-rgb), 0.3);
    --navbar-active-color: rgba(var(--emphasis-color-rgb), 1);
    --navbar-brand-padding-y: 0.3125rem;
    --navbar-brand-margin-end: 1rem;
    --navbar-brand-font-size: 1.25rem;
    --navbar-brand-color: rgba(var(--emphasis-color-rgb), 1);
    --navbar-brand-hover-color: rgba(var(--emphasis-color-rgb), 1);
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: var(--navbar-padding-y) var(--navbar-padding-x);
}

.navbar > .container, .navbar > .container-fluid {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: inherit;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    padding-top: var(--navbar-brand-padding-y);
    padding-bottom: var(--navbar-brand-padding-y);
    margin-right: var(--navbar-brand-margin-end);
    font-size: var(--navbar-brand-font-size);
    color: var(--navbar-brand-color);
    white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
    color: var(--navbar-brand-hover-color);
    text-decoration: none;
}

.navbar-nav {
    --nav-link-padding-x: 0;
    --nav-link-padding-y: 0.5rem;
    --nav-link-font-weight: ;
    --nav-link-color: var(--navbar-color);
    --nav-link-hover-color: var(--navbar-hover-color);
    --nav-link-disabled-color: var(--navbar-disabled-color);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-nav {
    color: var(--navbar-active-color);
}


 .navbar-light {
    --navbar-color: rgba(255, 255, 255, 0.55);
    --navbar-hover-color: rgba(255, 255, 255, 0.75);
    --navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --navbar-active-color: #FFF;
    --navbar-brand-color: #FFF;
    --navbar-brand-hover-color: #FFF;
}

.card {
    --card-border-width: var(--border-width);
    --card-border-color: var(--o-border-color);
    --card-border-radius: var(--border-radius);
    --card-height: ;
    --card-color: ;
    --card-bg: #FFFFFF;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: var(--card-height);
    color: var(--body-color);
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
}

.btn-close {
    --btn-close-color: #000;
    --btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
    --btn-close-opacity: 0.5;
    --btn-close-hover-opacity: 0.75;
    --btn-close-focus-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
    --btn-close-focus-opacity: 1;
    --btn-close-disabled-opacity: 0.25;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: var(--btn-close-color);
    background: transparent var(--btn-close-bg) center/1em auto no-repeat;
    border: 0;
    border-radius: 0.4rem;
    opacity: var(--btn-close-opacity);
}

.btn-close:hover {
    color: var(--btn-close-color);
    text-decoration: none;
    opacity: var(--btn-close-hover-opacity);
}

.btn-close:focus {
    outline: 0;
    box-shadow: var(--btn-close-focus-shadow);
    opacity: var(--btn-close-focus-opacity);
}

.btn-close:disabled {
    pointer-events: none;
    user-select: none;
    opacity: var(--btn-close-disabled-opacity);
}

.offcanvas {
    --offcanvas-zindex: 1045;
    --offcanvas-width: var(--Offcanvas-horizontal-width, 400px);
    --offcanvas-padding-x: 1rem;
    --offcanvas-padding-y: 1rem;
    --offcanvas-color: var(--body-color);
    --offcanvas-bg: var(--body-bg);
    --offcanvas-border-width: 0;
    --offcanvas-border-color: var(--border-color-translucent);
    --offcanvas-transition: transform 0.3s ease-in-out;
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: var(--offcanvas-zindex);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    color: var(--offcanvas-color);
    visibility: hidden;
    background-color: var(--offcanvas-bg);
    background-clip: padding-box;
    outline: 0;
    transition: var(--offcanvas-transition);
}

@media (prefers-reduced-motion: reduce) {
    .offcanvas {
        transition: none;
    }
}

.offcanvas.offcanvas-end {
    top: 0;
    right: 0;
    width: var(--offcanvas-width);
    border-left: var(--offcanvas-border-width) solid var(--offcanvas-border-color);
    transform: translateX(100%);
}

.offcanvas-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding: var(--offcanvas-padding-y) var(--offcanvas-padding-x);
}

.offcanvas-header .btn-close {
    padding: calc(var(--offcanvas-padding-y) * .5) calc(var(--offcanvas-padding-x) * .5);
    margin: calc(-.5 * var(--offcanvas-padding-y)) calc(-.5 * var(--offcanvas-padding-x)) calc(-.5 * var(--offcanvas-padding-y)) auto;
}

.offcanvas-body {
    flex-grow: 1;
    padding: var(--offcanvas-padding-y) var(--offcanvas-padding-x);
    overflow-y: auto;
}

 .visually-hidden-focusable:not(:focus):not(:focus-within) {
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

 .visually-hidden-focusable:not(:focus):not(:focus-within):not(caption) {
    position: absolute !important;
}

/* /web/static/src/scss/utilities_custom.scss */

/* /web/static/lib/bootstrap/scss/utilities/_api.scss */

.d-block {
    display: block !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
}

.d-none {
    display: none !important;
}

.shadow-sm {
    box-shadow: var(--box-shadow-sm) !important;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.start-0 {
    left: 0 !important;
}

.border-top {
    border-top: var(--border-width) var(--border-style) var(--border-color) !important;
}

.border-bottom {
    border-bottom: var(--border-width) var(--border-style) var(--border-color) !important;
}

.w-100 {
    width: 100% !important;
}

.h-0 {
    height: 0 !important;
}

.h-100 {
    height: 100% !important;
}

.flex-row {
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column !important;
}

.flex-shrink-0 {
    flex-shrink: 0 !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.justify-content-end {
    -webkit-box-pack: end !important;
    justify-content: flex-end !important;
}

.justify-content-center {
    justify-content: center !important;
}

.justify-content-between {
    justify-content: space-between !important;
}

.align-items-center {
    align-items: center !important;
}

.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}

.mt-3 {
    margin-top: 1rem !important;
}

.me-2 {
    margin-right: 0.5rem !important;
}

.me-4 {
    margin-right: 1.5rem !important;
}

.me-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mx-n3 {
    margin-right: -1rem !important;
    margin-left: -1rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-3 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.ps-3 {
    padding-left: 1rem !important;
}

.gap-1 {
    gap: 0.25rem !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.text-start {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-wrap {
    white-space: normal !important;
}

.text-muted {
    color: var(--secondary-color) !important;
}

.rounded-0 {
    border-radius: 0 !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-pill {
    border-radius: var(--border-radius-pill) !important;
}

.visible {
    visibility: visible !important;
}

@media (min-width: 576px) {

    .text-sm-start {
        text-align: left !important;
    }
}

@media (min-width: 992px) {

    .d-lg-block {
        display: block !important;
    }

    .d-lg-none {
        display: none !important;
    }
}

/* /web/static/src/scss/bootstrap_review.scss */

/* /web/static/src/scss/bootstrap_review_frontend.scss */

.bg-black-50 {
    background-color: rgba(0, 0, 0, 0.3) !important;
    color: #FFFFFF;
}

.bg-black-50 .text-muted, .o_colored_level .bg-black-50 .text-muted {
    color: rgba(255, 255, 255, 0.7) !important;
}

a.bg-black-50:hover, a.bg-black-50:focus, button.bg-black-50:hover, button.bg-black-50:focus {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: #FFFFFF;
}

.card {
    --body-color: var(--card-color);
}

 .btn-primary {
    --btn-color: #212529;
    --btn-bg: #FFFFFF;
    --btn-border-color: #FFFFFF;
    --btn-hover-color: #212529;
    --btn-hover-bg: white;
    --btn-hover-border-color: white;
    --btn-focus-shadow-rgb: 222, 222, 223;
    --btn-active-color: #212529;
    --btn-active-bg: white;
    --btn-active-border-color: white;
    --btn-disabled-color: #212529;
    --btn-disabled-bg: #FFFFFF;
    --btn-disabled-border-color: #FFFFFF;
}

@media (max-width: 575.98px) {
    .offcanvas {
        --Offcanvas-horizontal-width: calc(100vw - 3rem);
    }
}



.visually-hidden-focusable:active, .visually-hidden-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

.oi {
    display: inline-block;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.oi-chevron-up:before {
    content: '\25B2';
}

html, body {
    width: 100%;
    height: 100%;
}

#wrapwrap {
    z-index: 0;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 100%;
}

#wrapwrap > * {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
}

#wrapwrap > main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}



ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: square;
}

ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: square;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: disc;
}

ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul ul {
    list-style-type: circle;
}

/* /web_editor/static/src/scss/web_editor.common.scss */
:root {
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}

img.o_we_custom_image {
    display: inline-block;
}

.h3-fs {
    font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
    .h3-fs {
        font-size: 2rem;
    }
}

.h4-fs {
    font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
    .h4-fs {
        font-size: 1.5rem;
    }
}

.h5-fs {
    font-size: 1.25rem;
}

.o_small-fs {
    font-size: 0.875em;
}

.pb0 {
    padding-bottom: 0px !important;
}

.pt8 {
    padding-top: 8px !important;
}

.pb8 {
    padding-bottom: 8px !important;
}

.pb16 {
    padding-bottom: 16px !important;
}

.pt24 {
    padding-top: 24px !important;
}

.pb24 {
    padding-bottom: 24px !important;
}

.pb32 {
    padding-bottom: 32px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt48 {
    padding-top: 48px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pb88 {
    padding-bottom: 88px !important;
}

.pt136 {
    padding-top: 136px !important;
}

 #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar, .navbar-light {
    background-color: #FFFFFF;
    color: #212529;
}

 #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar .text-muted, .navbar-light .text-muted {
    color: rgba(33, 37, 41, 0.7) !important;
}

 #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar a:not(.btn), .navbar-light a:not(.btn) {
    color: #FFFFFF;
}

 #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar a:not(.btn):hover, .navbar-light a:not(.btn):hover {
    color: #999999;
}

 #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar .btn-primary, .navbar-light .btn-primary {
    --btn-color: #212529;
    --btn-bg: #FFFFFF;
    --btn-border-color: #FFFFFF;
    --btn-hover-color: #212529;
    --btn-hover-bg: white;
    --btn-hover-border-color: white;
    --btn-focus-shadow-rgb: 222, 222, 223;
    --btn-active-color: #212529;
    --btn-active-bg: white;
    --btn-active-border-color: white;
    --btn-disabled-color: #212529;
    --btn-disabled-bg: #FFFFFF;
    --btn-disabled-border-color: #FFFFFF;
}

.o_cc2 {
    background-color: #FFFFFF;
    color: #212529;
}

.o_cc2 .text-muted, .o_colored_level .o_cc2 .text-muted {
    color: rgba(33, 37, 41, 0.7) !important;
}

.o_cc2 h1, .o_cc2 .h1, .o_cc2 h2, .o_cc2 .h2, .o_cc2 h3, .o_cc2 .h3, .o_cc2 h4, .o_cc2 .h4, .o_colored_level .o_cc2 h1, .o_colored_level .o_cc2 h2, .o_colored_level .o_cc2 h3, .o_colored_level .o_cc2 h4 {
    color: #141f2e;
}

.o_cc2 a:not(.btn), .o_colored_level .o_cc2 a:not(.btn) {
    color: #FFFFFF;
}

.o_cc2 a:not(.btn):hover, .o_colored_level .o_cc2 a:not(.btn):hover {
    color: #999999;
}

 .o_cc2 .btn-primary {
    --btn-color: #212529;
    --btn-bg: #FFFFFF;
    --btn-border-color: #FFFFFF;
    --btn-hover-color: #212529;
    --btn-hover-bg: white;
    --btn-hover-border-color: white;
    --btn-focus-shadow-rgb: 222, 222, 223;
    --btn-active-color: #212529;
    --btn-active-bg: white;
    --btn-active-border-color: white;
    --btn-disabled-color: #212529;
    --btn-disabled-bg: #FFFFFF;
    --btn-disabled-border-color: #FFFFFF;
}

.o_cc5, .o_footer {
    background-color: #141f2e;
    color: #FFFFFF;
}

.o_cc5 .text-muted, .o_footer .text-muted, .o_colored_level .o_cc5 .text-muted {
    color: rgba(255, 255, 255, 0.7) !important;
}

.o_cc5 h1, .o_footer h1, .o_cc5 .h1, .o_footer .h1, .o_cc5 h2, .o_footer h2, .o_cc5 .h2, .o_footer .h2, .o_cc5 h3, .o_footer h3, .o_cc5 .h3, .o_footer .h3, .o_cc5 h4, .o_footer h4, .o_cc5 .h4, .o_footer .h4, .o_colored_level .o_cc5 h1, .o_colored_level .o_cc5 h2, .o_colored_level .o_cc5 h3, .o_colored_level .o_cc5 h4 {
    color: #FFFFFF;
}

.o_cc5 a:not(.btn), .o_footer a:not(.btn), .o_colored_level .o_cc5 a:not(.btn) {
    color: #FFFFFF;
}

.o_cc5 a:not(.btn):hover, .o_footer a:not(.btn):hover, .o_colored_level .o_cc5 a:not(.btn):hover {
    color: #d9d9d9;
}

 .o_cc5 .btn-primary, .o_footer .btn-primary {
    --btn-color: #212529;
    --btn-bg: #FFFFFF;
    --btn-border-color: #FFFFFF;
    --btn-hover-color: #212529;
    --btn-hover-bg: white;
    --btn-hover-border-color: white;
    --btn-focus-shadow-rgb: 222, 222, 223;
    --btn-active-color: #212529;
    --btn-active-bg: white;
    --btn-active-border-color: white;
    --btn-disabled-color: #212529;
    --btn-disabled-bg: #FFFFFF;
    --btn-disabled-border-color: #FFFFFF;
}

 section, .oe_img_bg, [data-oe-shape-data], section > *, .oe_img_bg > *, [data-oe-shape-data] > * {
    position: relative;
}

 .o_we_shape, .o_we_bg_filter {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute !important;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    pointer-events: none;
}

.oe_img_bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.oe_img_bg.o_bg_img_center {
    background-position: center;
}

.o_we_shape.o_web_editor_Connections_02 {
    background-image: url("/web_editor/shape/web_editor/Connections/02.svg?c5=%23141f2e");
    background-position: bottom;
    background-size: 100% var(--ShapeConnections--size-regular);
    background-repeat: no-repeat no-repeat;
}

.o_we_shape.o_web_editor_Connections_06 {
    background-image: url("/web_editor/shape/web_editor/Connections/06.svg?c5=%23141f2e");
    background-position: bottom;
    background-size: 100% var(--ShapeConnections--size-regular);
    background-repeat: no-repeat no-repeat;
}

.o_we_shape.o_web_editor_Connections_12 {
    background-image: url("/web_editor/shape/web_editor/Connections/12.svg?c5=%23141f2e");
    background-position: bottom;
    background-size: 100% var(--ShapeConnections--size-regular);
    background-repeat: no-repeat no-repeat;
}

/* /web_editor/static/src/scss/web_editor.frontend.scss */

/* @media (max-width: 767.98px) {
    .o_we_shape:not(.o_shape_show_mobile) {
        display: none;
    }
} */

.o_grid_mode {
    --grid-item-padding-y: 10px;
    --grid-item-padding-x: 10px;
}

@media (max-width: 991.98px) {
    .o_grid_mode {
        column-gap: 0px !important;
    }
}

.o_grid_mode > * {
    padding: var(--grid-item-padding-y) var(--grid-item-padding-x) !important;
}

@media (max-width: 991.98px) {
    .o_grid_mode > * {
        padding: var(--grid-item-padding-y) calc(0.5 * var(--gutter-x)) !important;
    }
}

@media (min-width: 992px) {
    .o_grid_mode {
        display: grid !important;
        grid-auto-rows: 50px;
        grid-template-columns: repeat(12, 1fr);
        row-gap: 0px;
        column-gap: 0px;
        --gutter-x: 0px;
    }

    .o_grid_mode .o_grid_item > .row {
        --grid-inner-row-gutter-x: clamp(0px, 2 * var(--grid-item-padding-x), 30px);
        margin-left: calc(-0.5 * var(--grid-inner-row-gutter-x));
        margin-right: calc(-0.5 * var(--grid-inner-row-gutter-x));
    }

    .o_grid_mode > * {
        margin: 0 !important;
        width: 100%;
        min-width: 0;
    }

    .container-fluid > .o_grid_mode {
        --gutter-x: 30px;
    }
}

/* /portal/static/src/scss/portal.scss */
body {
    direction: ltr;
}

.o_skip_to_content {
    z-index: 1031;
}

header .navbar-brand {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    max-width: 75%;
}

header .navbar-brand.logo {
    padding-top: 0;
    padding-bottom: 0;
}

header .navbar-brand.logo img {
    object-fit: contain;
    display: block;
    width: auto;
    height: 2.5rem;
}

@media (max-width: 767.98px) {
    header .navbar-brand.logo img {
        max-height: 2.5rem;
    }
}

header .nav-link {
    white-space: nowrap;
}

.navbar {
    margin-bottom: 0;
}

ul.flex-column > li > a {
    padding: 2px 15px;
}

li > p {
    margin: 0;
}

.container-fluid .container-fluid, .container .container, .container .container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#wrap .container::before, #wrap .container::after, #wrap .container-fluid::before, #wrap .container-fluid::after {
    content: "";
    display: table;
    clear: both;
}

/* #wrap .navbar > .container::before, #wrap .navbar > .container-fluid::before, #wrap .navbar > .container::after, #wrap .navbar > .container-fluid::after {
    display: none;
} */

[class^="col-lg-"] {
    min-height: 24px;
}

::-moz-selection {
    background: rgba(150, 150, 220, 0.3);
}

::selection {
    background: rgba(150, 150, 220, 0.3);
}

.o_footer_copyright .o_footer_copyright_name {
    vertical-align: middle;
}

@media (min-width: 768px) {
    .o_footer_copyright .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }

    .o_footer_copyright .row > div {
        margin: auto 0;
    }
}


/* /website/static/src/scss/website.scss */
:root {
    --o-border-color: #DEE2E6;
    --o-border-color: color-mix(in srgb, currentColor 15%, transparent);
    --body-line-height: 1.5;
    --btn-padding-y: 0.375rem;
    --btn-padding-x: 0.75rem;
    --btn-font-size: 1rem;
    --btn-border-width: var(--border-width);
    --btn-border-radius: var(--border-radius);
}

#o_shared_blocks {
    min-height: 0px;
    height: 0px;
}

#o_shared_blocks:empty {
    display: none;
}

.navbar .btn {
    white-space: nowrap;
}

.navbar .top_menu {
    flex-wrap: nowrap !important;
}

/* .navbar .top_menu.o_menu_loading {
    overflow: hidden !important;
    opacity: 0 !important;
} */

.navbar-light {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

.navbar-light .text-muted, .o_colored_level .navbar-light .text-muted {
    color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-light .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.navbar-light a.nav-link {
    color: var(--nav-link-color);
}

.navbar-light a.nav-link:hover {
    color: var(--nav-link-hover-color);
}

#wrapwrap:not(.o_header_overlay) header .nav-item > .nav-link > *, #wrapwrap:not(.o_header_overlay) header .nav-item > .nav-link::after, header .o_navbar_mobile .nav-item > .nav-link > *, header .o_navbar_mobile .nav-item > .nav-link::after {
    color: !important;
}

.o_navbar_mobile {
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
}

.o_navbar_mobile .btn-close {
    z-index: 1046;
}

header .navbar-brand {
    font-size: 1.66666667rem;
}

header .navbar-brand, header .navbar-brand.logo {
    padding-top: 0;
    padding-bottom: 0;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
}

.btn.rounded-circle {
    border-radius: 100px !important;
    --btn-padding-y: 0.45rem;
    --btn-padding-x: 1.35rem;
    --btn-font-size: 1rem;
    --btn-border-radius: 30px;
}

.oe_img_bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.oe_img_bg.o_bg_img_center {
    background-position: center;
}

@media (max-width: 767.98px) {
    section, .row {
        height: auto !important;
    }
}

.card {
    overflow: hidden;
}

header#top {
    z-index: 1030;
}

header:not(.o_header_no_transition) .o_main_nav {
    transition: all 200ms, color 0ms;
}

header:not(.o_header_no_transition) .navbar-brand {
    transition: margin 200ms, font-size 200ms, opacity 200ms ease-out;
}

header:not(.o_header_no_transition) .navbar-brand img {
    transition: height 200ms;
}

header .o_main_nav {
    flex-direction: inherit;
    justify-content: left !important;
}

header nav.navbar {
    border-radius: !important;
    box-shadow: rgba(0, 0, 0, 0.03) 0px 8px 16px 0px !important;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    z-index: 1000;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar) > .navbar {
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    color: inherit !important;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar .nav-item > .nav-link, #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar .nav-item > .nav-link:hover {
    background-color: transparent;
    color: inherit;
}

#wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar .o_header_mobile_buttons_wrap, #wrapwrap.o_header_overlay > header:not(.o_header_affixed):not(.o_header_sidebar):not(.o_top_menu_collapse_shown) > .navbar .btn[data-bs-toggle="offcanvas"] {
    color: inherit;
}

#o_footer_scrolltop_wrapper {
    position: relative;
    z-index: 1;
}

#o_footer_scrolltop_wrapper:last-child {
    height: 3rem !important;
    margin-top: -3rem;
    margin-bottom: 1rem;
}

#o_footer_scrolltop {
    box-sizing: content-box;
    width: 3rem;
    height: 3rem;
    border: 0;
    padding: 0;
    background-color: #141f2e;
    color: #FFFFFF;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}

#o_footer_scrolltop:hover, #o_footer_scrolltop:focus {
    background-color: #141f2e;
    color: #FFFFFF;
    text-decoration: none;
}



body {
    direction: ltr;
}

@media print {
    a[href]:after {
        content: initial;
    }
}



.s_process_steps[data-vcss='002'] .s_process_step .s_process_step_connector {
    height: 5rem;
    width: calc(100% - 5rem);
    left: calc(50% + 2.5rem);
}

.s_process_steps[data-vcss='002'] .s_process_step .s_process_step_connector path {
    stroke: var(--o-border-color);
    fill: transparent;
}

.s_process_steps[data-vcss='002'] .s_process_step:last-child .s_process_step_connector {
    display: none;
}

.s_process_steps[data-vcss='002'] .s_process_steps_arrow_head path {
    fill: #6C757D;
    stroke: transparent;
}

@media (max-width: 991.98px) {
    .s_process_steps[data-vcss='002'] .s_process_step_connector {
        display: none;
    }
}

.carousel {
    position: relative;
}

.carousel-caption {
    display: block;
    font-weight: 300;
    font-size: 1.125rem;
    text-align: center;
    margin-top: 10px;
}

.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    display: block;
    justify-content: center;
    align-items: center;
    inset: 0;
    display: none;
}

.slide[data-active] {
    opacity: 1;
    display: block;
}

.slide > img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


.arrow,
.arrow-lightbox {
    width: 3rem; /* Taille fixe */
    height: 3rem;
    z-index: 2;
    background: none;
    border: none;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    color: rgba(255, 255, 255, .3);
    cursor: pointer;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .1);
    border: 1px solid rgb(211, 211, 211);
    display: flex;
    transform: translateY(-50%); 
}

.arrow svg,
.arrow-lightbox svg {
    stroke: white;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 1;
}

.arrow:hover,
.arrow-lightbox:hover {
    color: white;
    background-color: rgba(0, 0, 0, .4);
}


.arrow.next {
    right: 2%;
}

.arrow-lightbox.next {
    right: 10%;
}

.arrow.prev {
    left: 2%;
}

.arrow-lightbox.prev  {
    left: 10%;
}

@media (max-width: 768px) { /* Ajuste la largeur selon ton besoin */
    .arrow,
    .arrow-lightbox {
        display: none !important; /* Masque complètement les flèches */
    }
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

.lightbox.active {
    opacity: 1;
    visibility: visible;
}

.lightbox-counter {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    z-index: 120;
}

.lightbox-caption {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    z-index: 120;
    white-space: nowrap;
}

.pagination-dots {
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background 0.3s;
}


.dot.active {
    background-color: #333;
    transform: scale(1.2);
}

.black {
    color: #000;
}

.reservation-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    width: 100%;
}

.reservation-button {
    background-color: #ff5a5f; /* Rouge Airbnb */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
    margin-top: 20px;
}

.reservation-button:hover {
    background-color: #e0484d;
    transform: scale(1.05);
}


.reservation-button:active {
    background-color: #c23d42;
    transform: scale(0.95);
}

.link-container {
    display: flex;
    justify-content: center;
}

.book_button {
    text-decoration: none;
}

.book_button:hover {
    text-decoration: none;
    color: white;
}